AplicacionTarjetas/Connected Services/ServiceReference1/ServiceTar.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceTar" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53826/ServiceTar.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53826/ServiceTar.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53826/ServiceTar.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServicioTarjetas.Models" />
      <xsd:import schemaLocation="http://localhost:53826/ServiceTar.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServicioTarjetas" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITarjeta_ConsultarTarjetas_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTarjetas" />
  </wsdl:message>
  <wsdl:message name="ITarjeta_ConsultarTarjetas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTarjetasResponse" />
  </wsdl:message>
  <wsdl:message name="ITarjeta_ObtenerEmisorTarjeta_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmisorTarjeta" />
  </wsdl:message>
  <wsdl:message name="ITarjeta_ObtenerEmisorTarjeta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmisorTarjetaResponse" />
  </wsdl:message>
  <wsdl:message name="ITarjeta_ObtenerInformacionTarjeta_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerInformacionTarjeta" />
  </wsdl:message>
  <wsdl:message name="ITarjeta_ObtenerInformacionTarjeta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerInformacionTarjetaResponse" />
  </wsdl:message>
  <wsdl:message name="ITarjeta_ValidarTarjeta_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarTarjeta" />
  </wsdl:message>
  <wsdl:message name="ITarjeta_ValidarTarjeta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarTarjetaResponse" />
  </wsdl:message>
  <wsdl:message name="ITarjeta_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ITarjeta_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITarjeta_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ITarjeta_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="ITarjeta">
    <wsdl:operation name="ConsultarTarjetas">
      <wsdl:input wsaw:Action="http://tempuri.org/ITarjeta/ConsultarTarjetas" message="tns:ITarjeta_ConsultarTarjetas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITarjeta/ConsultarTarjetasResponse" message="tns:ITarjeta_ConsultarTarjetas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmisorTarjeta">
      <wsdl:input wsaw:Action="http://tempuri.org/ITarjeta/ObtenerEmisorTarjeta" message="tns:ITarjeta_ObtenerEmisorTarjeta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITarjeta/ObtenerEmisorTarjetaResponse" message="tns:ITarjeta_ObtenerEmisorTarjeta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionTarjeta">
      <wsdl:input wsaw:Action="http://tempuri.org/ITarjeta/ObtenerInformacionTarjeta" message="tns:ITarjeta_ObtenerInformacionTarjeta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITarjeta/ObtenerInformacionTarjetaResponse" message="tns:ITarjeta_ObtenerInformacionTarjeta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarTarjeta">
      <wsdl:input wsaw:Action="http://tempuri.org/ITarjeta/ValidarTarjeta" message="tns:ITarjeta_ValidarTarjeta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITarjeta/ValidarTarjetaResponse" message="tns:ITarjeta_ValidarTarjeta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITarjeta/GetData" message="tns:ITarjeta_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITarjeta/GetDataResponse" message="tns:ITarjeta_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ITarjeta/GetDataUsingDataContract" message="tns:ITarjeta_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITarjeta/GetDataUsingDataContractResponse" message="tns:ITarjeta_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITarjeta" type="tns:ITarjeta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarTarjetas">
      <soap:operation soapAction="http://tempuri.org/ITarjeta/ConsultarTarjetas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmisorTarjeta">
      <soap:operation soapAction="http://tempuri.org/ITarjeta/ObtenerEmisorTarjeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionTarjeta">
      <soap:operation soapAction="http://tempuri.org/ITarjeta/ObtenerInformacionTarjeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarTarjeta">
      <soap:operation soapAction="http://tempuri.org/ITarjeta/ValidarTarjeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ITarjeta/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ITarjeta/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceTar">
    <wsdl:port name="BasicHttpBinding_ITarjeta" binding="tns:BasicHttpBinding_ITarjeta">
      <soap:address location="http://localhost:53826/ServiceTar.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>