AplicacionTarjetas/Connected Services/ServiceReference1/ServiceTar.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServicioTarjetas.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServicioTarjetas.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTARJETA">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TARJETA" nillable="true" type="tns:TARJETA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTARJETA" nillable="true" type="tns:ArrayOfTARJETA" />
  <xs:complexType name="TARJETA">
    <xs:sequence>
      <xs:element minOccurs="0" name="EMISOR" nillable="true" type="tns:EMISOR" />
      <xs:element minOccurs="0" name="EMI_CODIGO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TAR_CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="TAR_CODIGO_CLIENTE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TAR_ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAR_FECHA_EMISION" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TAR_FECHA_VENCIMIENTO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TAR_NOMBRE_CLIENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAR_NUMERO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAR_SALDO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TAR_TIPO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TARJETA" nillable="true" type="tns:TARJETA" />
  <xs:complexType name="EMISOR">
    <xs:sequence>
      <xs:element minOccurs="0" name="EMI_CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="EMI_DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMI_NUMERO_DIGITOS" type="xs:int" />
      <xs:element minOccurs="0" name="EMI_PREFIJO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TARJETA" nillable="true" type="tns:ArrayOfTARJETA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EMISOR" nillable="true" type="tns:EMISOR" />
</xs:schema>