AplicacionTarjetas/Connected Services/ServicioTarjetas/ServiceEmisor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceEmisor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53826/ServiceEmisor.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53826/ServiceEmisor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53826/ServiceEmisor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServicioTarjetas.Models" />
      <xsd:import schemaLocation="http://localhost:53826/ServiceEmisor.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServicioTarjetas" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmisor_ConsultarEmisores_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEmisores" />
  </wsdl:message>
  <wsdl:message name="IEmisor_ConsultarEmisores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEmisoresResponse" />
  </wsdl:message>
  <wsdl:message name="IEmisor_TipoEmisorDePrefijo_InputMessage">
    <wsdl:part name="parameters" element="tns:TipoEmisorDePrefijo" />
  </wsdl:message>
  <wsdl:message name="IEmisor_TipoEmisorDePrefijo_OutputMessage">
    <wsdl:part name="parameters" element="tns:TipoEmisorDePrefijoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmisor_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IEmisor_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IEmisor_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IEmisor_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmisor">
    <wsdl:operation name="ConsultarEmisores">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmisor/ConsultarEmisores" message="tns:IEmisor_ConsultarEmisores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmisor/ConsultarEmisoresResponse" message="tns:IEmisor_ConsultarEmisores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TipoEmisorDePrefijo">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmisor/TipoEmisorDePrefijo" message="tns:IEmisor_TipoEmisorDePrefijo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmisor/TipoEmisorDePrefijoResponse" message="tns:IEmisor_TipoEmisorDePrefijo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmisor/GetData" message="tns:IEmisor_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmisor/GetDataResponse" message="tns:IEmisor_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmisor/GetDataUsingDataContract" message="tns:IEmisor_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmisor/GetDataUsingDataContractResponse" message="tns:IEmisor_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmisor" type="tns:IEmisor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarEmisores">
      <soap:operation soapAction="http://tempuri.org/IEmisor/ConsultarEmisores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TipoEmisorDePrefijo">
      <soap:operation soapAction="http://tempuri.org/IEmisor/TipoEmisorDePrefijo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IEmisor/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IEmisor/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceEmisor">
    <wsdl:port name="BasicHttpBinding_IEmisor" binding="tns:BasicHttpBinding_IEmisor">
      <soap:address location="http://localhost:53826/ServiceEmisor.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>